# data types in python
# 1 numbers
# 2 float
# 3 strings
# 4 lists
# 5 tuples
# 6 dictionarys
# 7 sets
# 8 boolean

In [1]:
a=2

In [2]:
type(2)

int

In [3]:
a=2.5

In [4]:
type(a)

float

In [5]:
# intergers are simply whole number type of numbers
# where as float is for decimal numbers
# type() funtion is used to know the type of a variable in python

In [6]:
name="preetham"

In [7]:
type(name)

str

In [8]:
# string is an ordered sequence of characters
#strings should be mentioned in single '' or double quotes " "

In [17]:
l=[1,2,3,'preetham']

In [19]:
# lists are ordered sequence of objects
# list values should be represented in []

In [20]:
l

[1, 2, 3, 'preetham']

In [21]:
t=(1,2,'apple')

In [22]:
t

(1, 2, 'apple')

In [23]:
# tuple is also same as lists where as tuples are immputable is the only diff between them
# meaning of immutable
l[3]='ram'
l

[1, 2, 3, 'ram']

In [24]:
# but in tuples
t(2)='orange'
t

SyntaxError: can't assign to function call (<ipython-input-24-67cf3ec5599b>, line 2)

In [25]:
# error occured because once a value is assigned in tuple for particular index, we cannot replace it by other

In [26]:
d={'apple':20,'orange':30,'grapes':50}

In [27]:
d

{'apple': 20, 'orange': 30, 'grapes': 50}

In [28]:
type(d)

dict

In [29]:
# it is an unordered collection of key value pairs
# represented in flower braces

In [30]:
s={1,2,3}

In [31]:
s

{1, 2, 3}

In [32]:
type(s)

set

In [33]:
# set is an ordered collection of unique type of objects
# represented in flower braces

In [34]:
# difference between list and set

In [37]:
list=[1,2,3,1,2,2,3,3,3,1]

In [38]:
list

[1, 2, 3, 1, 2, 2, 3, 3, 3, 1]

In [39]:
set={1,2,3,3,1,1,2,2,3,3,3,2,2,1,1,}

In [40]:
set

{1, 2, 3}

In [41]:
# set only represents unique ojects in it

In [42]:
2>3

False

In [43]:
3>1

True

In [45]:
1==1

True

In [46]:
# above [42],[43],[45] are boolean examples for boolean where it has only two vales that are true,false